$BodyBackgroundColor:white;
$headerBackgroundColor:white;
$mainBackgroundColor:white;
$footerBackgroundColor:black;
$whoBgrColor:white;
$newsBgrColor:#D8F6FE;
$articleBgrColor:#FFB347;

$donateButtonColor:black;

$headerhoverColor:#CFCFC4;
$allbooksNavHoverColor:rgb(158, 119, 22);


$baseFontColor: black;
$navHeaderFontColor: white;
$whiteFontColor:white;
$headerActiveFont:rgb(104, 54, 227);
$mainFontColor:black;

$acceuilcolor:#fff799;

$archivescolor:#FFB347;

$filmscolor:#77DD77;

$photoscolor:#779ECB;

$studiocolor:#FF6961;

$contactcolor:#FFD1DC;

$donationcolor:#B39EB5;
