$BodyBackgroundColor:white;
$headerBackgroundColor:white;
$mainBackgroundColor:white;
$footerBackgroundColor:black;
$whoBgrColor:white;
$newsBgrColor:#D8F6FE;
$articleBgrColor:#FFB347;
$articlehoverColor:#ba802d;

$donateButtonColor:#B39EB5;
$donateShadowColor:black;
$donateGradientColor:#DBC2DE;
$donateHoverGradientColor:#534954;

$headerhoverColor:#CFCFC4;



$baseFontColor: black;
$navHeaderFontColor: white;
$whiteFontColor:white;
$mainFontColor:black;

$acceuilcolor:#fff799;

$archivescolor:#FFB347;

$filmscolor:#77DD77;

$photoscolor:#779ECB;

$studiocolor:#FF6961;

$contactcolor:#FFD1DC;

$donationcolor:#B39EB5;
