/* Modus Versus Slicing
 *
 * /sass/base/_root.scss - Base styles for root element
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

html {
	background: $BodyBackgroundColor;
    font: normal 16px $openSansStack;
	color:$baseFontColor;
}

a{
	color:$baseFontColor;
	text-decoration: none;
}
section{
    margin-bottom: 2rem;
}
