footer{
    width: 100%;
    background: linear-gradient(270deg, #fd03d2, #fd4703, #fded03, #03f0fd);
    background-size: 400%;
    -webkit-animation: gradFade 20s ease infinite;
    -moz-animation: gradFade 20s ease infinite;
    animation: gradFade 20s ease infinite;
}
.footer{
    padding: 2rem 0;
    display: inline-block;
    &-logo{
        width:10rem;
        padding:1rem;
        margin: 1rem;
        background: rgba(0,0,0,0.4);
        border-radius: 5rem;
        float: left;
        &:before{
            content: "";
            width: 10rem;
        }
    }
    &-contact{

    }
    &-newsletter{

    }
    &-abonnements{
    
    }
}
.subfooter{
    width:80%;
    margin: 0 10%;
}
