.main{
    width: 100%;
    background-color: $mainBackgroundColor;
    color: $mainFontColor;
    &-intro{
        background: url("../assets/img/Bgr01.jpg")no-repeat fixed;
        background-size: 100% auto;
        padding: 5em;
        margin-bottom: 5em;
        &-logo{
            width:40em;
            margin:0 auto;
            display: block;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 40%;
        }
    }
    &-inter{
        background: url("../assets/img/Inter-bgr.svg")no-repeat;
        width: 100%;
        height: auto;
    }
    &-who{
        width: 100%;
        padding:10em;
        text-align: center;
        background: $whoBgrColor;
        background: url("../assets/img/Bgr02.jpg")no-repeat fixed;
        background-size: 100% auto;
        height: 40rem;
        color: white;
        &-content{
            width: 50rem;
            background: rgba(0, 0, 0, 0.6);
            padding: 5rem;
            border-radius: 1rem;
            margin: 0 auto;
        }
        &-title{
            font-size: 2.618rem;
            margin-bottom: 1rem;
            font-family: "Epic";

        }
        &-text{
            width: 35rem;
            margin: 0 auto;
        }
    }
    &-news{
        padding:3rem;
        background: $newsBgrColor;
        &-title{
            text-align: center;
            font-size: 2.618rem;
            font-family: "Epic";
            margin-bottom: 2.618rem;
        }
        &-articles{
            &__elem{
                border: 0.5rem solid $articleBgrColor;
                background: $articleBgrColor;
                position: relative;

                padding: 1rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid #d5d5d5;
                height: 15.375rem;
                display:block;
                &-link{
                    font-weight: bold;
                    background: $articleBgrColor;
                    z-index: 1;
                    position: absolute;
                    left: 18rem;
                    bottom: 0;
                    padding: 1rem 2rem;
                    &:hover,&:focus{
                        background: $articlehoverColor;
                        color: $whiteFontColor;
                        box-shadow:2px 2px 5px $baseFontColor;
                        text-shadow: 2px 2px 5px $baseFontColor;
                    }
                }
                &-box{
                    overflow:hidden;
                    float: left;
                    &-img{
                        display: block;
                        width:18.75rem;
                        vertical-align: middle;
                        border: 0;

                    }
                }
                &-content{
                    margin-left: 18.75rem;
                    &-title{
                        display: block;
                        padding: 1rem;
                        &-link{
                            font-size: 1.618rem;
                            font-weight: bold;
                            font-family: "Epic";
                            &:hover,&:focus{
                                color: $whiteFontColor;
                                text-shadow: 2px 2px 5px $baseFontColor;
                            }
                        }
                    }
                    &-text{
                        background: white;
                        padding: 1rem;
                        padding-bottom: 5rem;
                        max-height: 10rem;
                    }
                }
            }
        }
    }
    &-donation{
        width: 100%;
        margin-top:5rem;
        text-align: center;
        background: $whoBgrColor;
        background-size: 100% auto;
        color: $whiteFontColor;
        height: 40rem;
        background: url("../assets/img/Bgr03.jpg")no-repeat fixed;
        background-size: 100% auto;
        &-title{
            padding-top: 2.618rem;
            font-size: 2.618em;
            margin-bottom: 1em;
            font-family: "Epic";

        }
        &-text{
            width: 40em;
            margin: 5rem auto;
            background: rgba(0, 0, 0, 0.6);
            padding: 5rem;
            border-radius: 1rem;
        }
        &-button{
            background: $donateButtonColor;
            color: $whiteFontColor;
            padding: 1.618rem;
            font-family: "Epic";
            font-variant: small-caps;
            border-radius: 1.618em;
            color: $baseFontColor !important;
            box-shadow: 1px 1px 1px $donateShadowColor;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            background: linear-gradient(top,  $donateGradientColor, $donateButtonColor);
            background: -ms-linear-gradient(top,  $donateGradientColor,  $donateButtonColor);
            background: -webkit-gradient(linear, left top, left bottom, from($donateGradientColor), to($donateButtonColor));
            background: -moz-linear-gradient(top,  $donateGradientColor,  $donateButtonColor);
            &:hover {
                  color: $whiteFontColor !important;
                  background: $donateButtonColor;
                  background: linear-gradient(top,  $donateButtonColor,  $donateHoverGradientColor);
                  background: -ms-linear-gradient(top,  $donateButtonColor,  $donateHoverGradientColor);
                  background: -webkit-gradient(linear, left top, left bottom, from($donateButtonColor), to($donateHoverGradientColor));
                  background: -moz-linear-gradient(top,  $donateButtonColor,  $donateHoverGradientColor);
            }
        }
    }
}
